---
import Base from "../layouts/Base.astro";
import Content from "../layouts/Content.astro";

interface Frontmatter {
    title: string;
    date: string;
}

const posts = await Astro.glob<Frontmatter>("./blog/*.mdx");
---

<Base title="Blog">
    <Content title="Blog" prev="/art" next="/contact">
        <div class="mx-auto mt-8 md:mt-16">
            {
                posts
                    .sort((a, b) =>
                        a.frontmatter.date < b.frontmatter.date ? 1 : -1,
                    )
                    .map((post) => (
                        <a
                            class="mb-4 flex w-[80vw] rounded-lg border-2 border-base p-4 font-bold text-lavender transition-colors hover:border-lavender sm:text-xl md:w-[50vw] lg:text-2xl"
                            href={post.url}
                        >
                            <span class="w-2/3">{post.frontmatter.title}</span>
                            <div class="flex-grow" />
                            <span class="text-overlay0">
                                {post.frontmatter.date}
                            </span>
                        </a>
                    ))
            }
        </div>
    </Content>
</Base>
