---
import { PaintBrushIcon } from "@heroicons/react/24/solid";
import Matrix from "../components/Matrix.astro";
import SideBar from "../components/SideBar.astro";
import TabBar from "../components/TabBar.astro";
import TypistLoop from "../components/TypistLoop";
import Vignette from "../components/Vignette.astro";
import Base from "../layouts/Base.astro";
import { COLOURS } from "../lib/colours";
---

<Base>
    <Matrix />
    <TabBar />
    <Vignette />
    <div class="h-dynamic flex flex-col justify-center">
        <div class="relative mb-4 flex">
            <h1
                class="neon glitch mx-auto select-none text-4xl md:text-6xl"
                data-before="Neal Wang"
            >
                Neal Wang
            </h1>
        </div>
        <TypistLoop
            client:load
            texts={[
                "Software Engineer",
                "Student & Teacher",
                "Violin / Tennis / Swim / XC",
                "Neovim Enthusiast",
                "Haskell Enjoyer",
                "NixOS User (btw)",
            ]}
        />
    </div>
    <SideBar />
    <a
        class="desktop fixed bottom-4 right-16"
        href="https://mathletedev.github.io/art"
        target="_blank"
    >
        <PaintBrushIcon className="m-auto h-8 w-8 text-overlay0" />
    </a>
    <a
        class="desktop fixed bottom-4 right-4"
        href="https://github.com/mathletedev/mathletedev.github.io"
        target="_blank"
    >
        <img
            class="m-auto h-8 w-8"
            src={`https://cdn.simpleicons.org/github/${COLOURS.overlay0.hex.substring(1)}`}
        />
    </a>
</Base>

<script>
    import "../lib/fade";
</script>
