---
export interface Props {
    title: string;
    href?: string;
    date?: string;
}

const { title, href, date } = Astro.props as Props;
---

<a class="opacity-0 transition-opacity duration-1000" {href} target="_blank">
    <div class="flex gap-0.5 text-sm md:text-xl">
        <p class="italic text-yellow transition-colors hover:text-peach">
            {title}
        </p>
        <div class="flex-grow"></div>
        <p class="pr-4 text-surface2">{date}</p>
    </div>
    <div class="mb-2 h-0.5 w-full bg-surface0 md:mb-4"></div>
</a>
