---
export interface Props {
    text: string;
}

const { text } = Astro.props as Props;
---

<!-- source: https://codepen.io/cbanlawi/pen/xxRBeMY -->
<p class="glitch">
    <span aria-hidden="true">{text}</span>
    {text}
    <span aria-hidden="true">{text}</span>
</p>

<style>
    :root {
        --colour1: #00fffc;
        --colour2: #fc00ff;
        --colour3: #fffc00;
    }

    .glitch {
        position: relative;
        text-shadow:
            0.05em 0 0 var(--colour1),
            -0.03em -0.04em 0 var(--colour2),
            0.025em 0.04em 0 var(--colour3);
        animation: glitch 725ms infinite;
    }

    .glitch span {
        position: absolute;
        top: 0;
        left: 0;
    }

    .glitch span:first-child {
        animation: glitch 500ms infinite;
        clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
        transform: translate(-0.04em, -0.03em);
        opacity: 0.75;
    }

    .glitch span:last-child {
        animation: glitch 375ms infinite;
        clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
        transform: translate(0.04em, 0.03em);
        opacity: 0.75;
    }

    @keyframes glitch {
        0% {
            text-shadow:
                0.05em 0 0 var(--colour1),
                -0.03em -0.04em 0 var(--colour2),
                0.025em 0.04em 0 var(--colour3);
        }
        15% {
            text-shadow:
                0.05em 0 0 var(--colour1),
                -0.03em -0.04em 0 var(--colour2),
                0.025em 0.04em 0 var(--colour3);
        }
        16% {
            text-shadow:
                -0.05em -0.025em 0 var(--colour1),
                0.025em 0.035em 0 var(--colour2),
                -0.05em -0.05em 0 var(--colour3);
        }
        49% {
            text-shadow:
                -0.05em -0.025em 0 var(--colour1),
                0.025em 0.035em 0 var(--colour2),
                -0.05em -0.05em 0 var(--colour3);
        }
        50% {
            text-shadow:
                0.05em 0.035em 0 var(--colour1),
                0.03em 0 0 var(--colour2),
                0 -0.04em 0 var(--colour3);
        }
        99% {
            text-shadow:
                0.05em 0.035em 0 var(--colour1),
                0.03em 0 0 var(--colour2),
                0 -0.04em 0 var(--colour3);
        }
        100% {
            text-shadow:
                -0.05em 0 0 var(--colour1),
                -0.025em -0.04em 0 var(--colour2),
                -0.04em -0.025em 0 var(--colour3);
        }
    }
</style>

<script>
    import "../lib/glitch";
</script>
