---
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

export interface Props {
    title?: string;
    description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } =
    Astro.props as Props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<link
    href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital@0;1&display=swap"
    rel="stylesheet"
/>
<link
    href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap"
    rel="stylesheet"
/>
<link
    href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"
    rel="stylesheet"
/>
<link
    href=" https://cdn.jsdelivr.net/npm/@fontsource/cascadia-code@4.2.1/index.min.css "
    rel="stylesheet"
/>
