---
import NavCard from "./NavCard.astro";
---

<nav
    class="desktop absolute bottom-0 left-16 flex h-screen flex-col justify-evenly"
    id="fade"
>
    <NavCard title="About" href="/about" colour="#f38ba8" />
    <NavCard title="Skills" href="/skills" colour="#fab387" />
    <NavCard title="Awards" href="/awards" colour="#f9e2af" />
    <NavCard title="Work" href="/work" colour="#a6e3a1" />
    <NavCard title="Art" href="/art" colour="#89dceb" />
    <NavCard title="Blog" href="/blog" colour="#89b4fa" />
    <NavCard title="Contact" href="/contact" colour="#b4befe" />
</nav>
