---
import NavLink from "./NavLink.astro";

export interface Props {
    show?: boolean;
}

const { show } = Astro.props as Props;
---

<nav
    class={`fixed bottom-0 w-screen flex pb-1 flex-wrap justify-center content-center gap-x-4 md:gap-x-8 gap-y-1 bg-base ${
        !show && "mobile"
    }`}
>
    <NavLink href="/" title="~" colour="#cdd6f4" />
    <NavLink href="/about" colour="#f38ba8" />
    <NavLink href="/skills" colour="#fab387" />
    <NavLink href="/awards" colour="#f9e2af" />
    <NavLink href="/work" colour="#a6e3a1" />
    <NavLink href="/art" colour="#89dceb" />
    <NavLink href="/blog" colour="#89b4fa" />
    <NavLink href="/contact" colour="#b4befe" />
</nav>
