@import "tailwindcss";
@plugin "daisyui" {
    themes: synthwave --default;
}

@theme {
    --font-rocket-rinder: "Rocket Rinder", "sans-serif";
    --font-streamster: "Streamster", "sans-serif";
}

@source "../node_modules/flowbite-svelte/dist";

@font-face {
    font-family: "Rocket Rinder";
    src: url("./assets/fonts/Rocket Rinder.otf");
}
@font-face {
    font-family: "Streamster";
    src: url("./assets/fonts/Streamster.ttf");
}
