@import "tailwindcss";
@plugin "daisyui" {
    themes: synthwave --default;
}

@theme {
    --font-rocket-rinder: "Rocket Rinder", "sans-serif";
    --font-streamster: "Streamster", "sans-serif";
    --font-stereofunk: "Stereofunk", "sans-serif";
    --default-font-family: "Oxanium", "sans-serif";
}

@source "../node_modules/flowbite-svelte/dist";

@font-face {
    font-family: "Rocket Rinder";
    src: url("./assets/fonts/Rocket Rinder.otf");
}
@font-face {
    font-family: "Streamster";
    src: url("./assets/fonts/Streamster.ttf");
}
@font-face {
    font-family: "Stereofunk";
    src: url("./assets/fonts/Stereofunk.ttf");
}

code {
    font-family: "Cascadia Code", monospace;
}
