---
import { ImageMetadata } from "astro";

export interface Props {
    id?: string;
    title?: string;
    image: ImageMetadata;
}

const { id, title, image } = Astro.props;
---

<div id={id} class="panel relative">
    <img
        src={image.src}
        class="h-screen w-screen object-cover object-center brightness-30"
    />

    <div class="absolute inset-0">
        <h1 class="mt-30 text-center text-4xl">{title}</h1>

        <slot />
    </div>
</div>
